body {
    background-color: rgb(237, 237, 251);
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.header {
    background-image: url("../assets/Hero-bg.png");
    width: 1440px;
    height: 698px;
    margin-bottom: 50px;

}


.nav-tittle {
    color: #4E47FF;
    height: 51px;
    width: 99px;
    font-weight: 800;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    text-align: center;
    width: 132px;
    height: 48px;
    border-radius: 5px;
    border: none;
}

.btn-wh {
    height: 48px;
    width: 174px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 151px;
    padding: 0 50px;
    gap: 0 auto;
    margin: 0 150px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    text-decoration: none;
}

.banner {
    text-align: center;
    margin: 150px 267px 237px;
}

.banner-tittle {
    font-size: 65px;
    font-weight: bold;
    height: 152px;
    width: 905px;
    color: #252432;
    justify-content: center;
    text-align: center;
}

main {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgb(237, 237, 251);

}

.webflow {
    height: 328px;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

.webflow-actn {
    width: 517px;
    height: 203px;
    text-align: top left;

}

.webflow-tittle {
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: bold;
}

.webflow-actn-description {
    height: 60px;
    width: 517px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    padding-right: 10px;

}

.launch-btn {
    margin-top: 23px;
    height: 24px;
    width: 157px;
}

.wc-mini-pic {
    border-radius: 50px;
    height: 328px;
    width: 403px;
}

.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 15px;
    padding: 50px  80px 50px;
}
.productive-review{
    text-align: center;
    gap: 20px;
}
.product-user-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

.product-tittle {

    font-size: 28px;
    font-weight: bold;
    color: #252432;

}

.font-user {
    width: 10px;
    height: 15px;
    font-size: 50px;
    font-weight: bold;
    color: #4E47FF;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 160px;
    height: 24px;
}

.rating-tittle {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    height: 49px;
    width: 1140px;
    gap: 50px;
}

.rating-container {
    display: flex;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    
    
}

.rate-tittle {
    width: 221px;
    height: 29px;
    text-align: left;
    color: rgba(30, 30, 30, 1);
}

.rate-description {
    /* padding: 24px; */
    text-align: left;

}

.rate-1 {
    height: 265px;
    width: 269px;
    text-align: top left;
    padding: 24px 24px;
    border-radius: 14px;
    background-color: #F2EDED;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    justify-content: space-between;
}

.rate {
    height: 243px;
    width: 416px;
    text-align: top left;
    padding: 24px 24px;
    border-radius: 14px;
    background-color: #F2EDED;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    justify-content: space-between;
}
.review-name{
   
    margin: 0;
   
}
.review-date{
    font-size:15px ;
    color: rgba(14, 13, 13, 0.5);
    margin: 0;
    width: 169px;
    height: 22px;
    text-align: left;
   
}
.left-image {
    float: left;
    margin-right: 10px;
    border-radius: 40px;
}

.form-section {
    width: 1140px;
    height: 632px;
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    gap: auto;
    padding-top: 40px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-tittle {
    font-size: 97px;
    font-weight: bold;
    width: 528px;
    height: 232px;
    color: rgba(0, 0, 0, 1);
    padding: 100px 100px 200px 0;
}

main input[type="email"],
main input[type="text"] {
    height: 50px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 480px;
    padding: 5px 5px;
    font-size: 16px;
    margin-bottom: 24px;
    border: none;
}

main textarea {
    height: 135px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 450px;
    padding: 32px 20px;
    font-size: 16px;
    margin-bottom: 24px;
    border: none;

}

main input[type=button] {

    background-color: #4E47FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 497px;
    height: 62px;
    gap: 10px;
    text-align: center;
    
}

main input[type=button]:hover {
    background-color: #9ea045;
}

.color {
    color: rgb(3, 2, 2);
    font-weight: 500;
}

#area-color {
    color: rgba(0, 0, 0, 0.5);
}
footer{
    display: flex;
    text-align: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 1) ;
}
.footer-part{
 
    text-align: center;
    align-items: center;
    margin: 104px 455px;
}
.footer-tittle {
    color: #4E47FF;
    width: 291px;
    height: 121;
    font-size: 100px;
    font-weight: black;
    display: flex;
    margin-top: 1px ;
    margin-bottom: 20px;
    margin-left: 100px;
}
.footer-description{
    width: 531px;
    height: 48px;
    color: rgba(137, 135, 161, 1);
    text-align: center;
}

.ar{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    margin-left: 25px;
}
.li{
     list-style-type: none;
    padding: 0;
    margin: 0;
}
.ul{
    display: flex;
    gap: 30px;
    text-align: center;
}